# ===============================
# Python & Virtual Environment
# ===============================
venv/
__pycache__/
*.pyc

# ===============================
# MLflow (CRITICAL)
# ===============================
mlruns/
mlartifacts/
mlflow.db

# ===============================
# Data
# ===============================
data/processed/*
!data/processed/.gitignore

# ===============================
# Trained models (local only)
# ===============================
models/*.joblib
models/*.pkl

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Reports & Docs
# ===============================
monitoring/reports/
*.pdf
